html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 1.1em;
}

ul {
    padding: 0px !important;
    list-style: none;
}

li {
    padding: 5px 0px !important;
    cursor: pointer;
}

li ul {
    margin-left: 10px;
}